<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Payfort_Pay>
            <version>1.0.1</version>
        </Payfort_Pay>
    </modules>
    <global>
        <blocks>
            <payfort>
                <class>Payfort_Pay_Block</class>
            </payfort>
        </blocks>
        <helpers>
            <payfort>
                <class>Payfort_Pay_Helper</class>
            </payfort>
        </helpers>
        <models>
            <payfort>
                <class>Payfort_Pay_Model</class>
            </payfort>
            <payfort_adminhtml>
                <class>Payfort_Pay_Adminhtml_Model</class>
            </payfort_adminhtml>
            <!--            <sales>
                <rewrite>
                    <service_quote>Payfort_Pay_Model_Service_Quote</service_quote>
                </rewrite>
            </sales>-->
        </models>
        <resources>
            <payfort_setup>
                <setup>
                    <module>Payfort_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payfort_setup>
            <payfort_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payfort_write>
            <payfort_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payfort_read>
        </resources>
    </global>
    <default>
        <payment>
            <payfort>
                <active>1</active>
                <order_status>pending</order_status>
                <model>payfort/pay</model>
                <title>Credit / Debit Card</title>
                <sha_type>SHA-512</sha_type>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </payfort>
        </payment>
    </default>
    <frontend>
        <secure_url>
            <pay>/payfort</pay>
        </secure_url>
        <routers>
            <payfort>
                <use>standard</use>
                <args>
                    <module>Payfort_Pay</module>
                    <frontName>payfort</frontName>
                </args>
            </payfort>
        </routers>
        <layout>
            <updates>
                <payfort>
                    <file>payfort/payfort.xml</file>
                </payfort>
            </updates>
        </layout>
    </frontend>
</config>
